button {
	border: none;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}
.navigate-btn {
	margin: auto;
	padding: 1rem 1.5rem;
	gap: 0.5rem;
	font-size: 2.2rem;
	transition: all 0.3s ease-in-out;
	&:hover {
		gap: 1.5rem;
	}
}
.scroll-top-btn {
	position: fixed;
	bottom: 5rem;
	right: 5rem;
	z-index: 999;
}
