.about-section {
	.cover-image {
		background-image: url('../../../public/images/ocean.svg');
	}
	.about--introduction {
		padding: 10rem 10rem 7rem;
		font-weight: 600;
		font-size: 2.5rem;
		text-align: center;
		line-height: 1.5;
		.introduction {
			margin-bottom: 2rem;
			transition: all 1s ease-in-out;
			transform: translateY(0);
			&.hidden {
				transform: translateY(-10rem);
				opacity: 0;
			}
		}
	}
	.about-container {
		display: flex;
	}
}
