.slider-wrapper {
	box-sizing: border-box;
	overflow: auto;
	background-color: transparent;
	position: relative;
	display: flex;
	align-items: center;
	width: auto;
	.slider {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		height: fit-content;
		left: 0;
		top: 0;
		transition: transform 0.2s ease-in-out;
		position: relative;
		.slide {
			border: 1px solid #000;
		}
	}
}
