.project-details-modal {
	box-sizing: border-box;
	margin: 5rem auto;
	border: 2px solid var(--color-black);
	padding: 5rem;
	width: 80vw;
	height: 90vh;
	background-color: #fcf5db;
	overflow: auto;
	filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.5));
	.details-container {
		position: relative;
	}
	.close-icon {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 9;
	}
}
