.icon-box {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: fit-content;
	transition: all 0.2s ease-in-out;
	transform: translateZ(-1px);
	&:hover {
		transform: translateY(-2rem) translateZ(5px);
		filter: drop-shadow(30px 10px 4px #51796e);
	}
	.icon-wrapper {
		padding: 0 1.5rem;
	}
	.icon-name {
		font-size: 1.8rem;
		font-weight: 500;
		padding-bottom: 1rem;
		word-break: keep-all;
		text-decoration: underline;
	}
}
