.icon-box {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: fit-content;
	.icon-wrapper {
		padding: 0 1.5rem;
	}
	.icon-name {
		font-size: 1.8rem;
		font-weight: 500;
		padding-bottom: 1rem;
		word-break: keep-all;
		text-decoration: underline;
	}
}
