.project-box {
	box-sizing: border-box;
	width: 40rem;
	height: 50rem;
	background-color: var(--color-white);
	border-right: 0.1rem solid var(--color-black);
	.project--image-container {
		width: fit-content;
		display: flex;
		justify-content: center;
		border-bottom: 1px solid var(--color-black);
	}
	.project--text {
		padding: 0 2rem;
		width: fit-content;
		.project-name {
			margin-top: 1rem;
			font-size: 2.3rem;
			font-weight: 700;
		}
		.skills-container {
			font-size: 2rem;
		}
	}
	.members-container {
		padding: 2rem;
		font-size: 3rem;
	}
}
